doctype html
meta(charset='utf-8')
//- <base href="/">
title #{title}
meta(name='description', content='')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
//- emplate Basic Images Start
meta(property='og:image', content='')
link(href='#', rel='icon')
link(href='#', rel='apple-touch-icon', sizes='180x180')
//- Template Basic Images End
//- Custom Browsers Color Start
meta(name='theme-color', content='#21242b')
//- Custom Browsers Color End
