@import '../search/search.scss';

.wrapper {
  &__route {
    &__list {
      transition: 0.3s ease;
    }
  }
}

.route {
  &-list {
    @extend .search__route;
    padding: 0;

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }

    &__name {
      @extend .search__name;
      margin-bottom: 0;
    }

    &__filter {
      width: 100%;
      max-width: 140px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__item {
      &__pane {
        display: flex;
        padding: 8px 20px;
        justify-content: space-between;
        align-items: center;
        background-color: $white;

        &:hover {
          cursor: pointer;
          background-color: $white-hover;
        }

        &:not(.collapsed) {
          .route-list__item__chevron {
            transform: rotate(0);
          }
        }
      }

      &__descr {
        @extend .paragraph;
        margin-bottom: 0;
      }

      &__body {
        padding: 20px 0;
        background: $accent;
      }

      &__path {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 5px 20px;

        &:hover {
          cursor: pointer;
          background-color: rgba($color: $white, $alpha: 0.15);
        }

        &:nth-last-of-type(1) {
          .path__marker__wrapper {
            .path__marker {
              &::after {
                display: none;
              }
            }
          }
        }
      }

      &__chevron {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
      }
    }
  }

  &__filter {
    &__label {
      display: block;
      position: relative;
      cursor: pointer;
      user-select: none;

      &:hover {
        .route__filter__checkbox {
          ~ .route__filter__checkmark {
            path {
              fill: $fill-hover;
            }
          }
        }
      }

      .route__filter__checkbox {
        &:checked {
          ~ .route__filter__checkmark {
            &.--minibus {
              path {
                fill: #80ffd5;
              }
            }

            &.--tram {
              path {
                fill: #80d4ff;
              }
            }

            &.--trolleybus {
              path {
                fill: #d580ff;
              }
            }

            &.--bus {
              path {
                fill: #ff80aa;
              }
            }
          }
        }
      }
    }

    &__checkbox {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      border: none;
      cursor: pointer;
    }
  }
}

.path {
  &__info {
    &__wrapper {
      margin-left: 10px;
    }
  }

  &__name {
    @extend .paragraph;
    margin-bottom: 7px;
    color: $white;
  }

  &__distance {
    @extend .paragraph;
    margin-bottom: 5px;
    color: rgba($color: $white, $alpha: 0.45);
  }

  &__marker {
    width: $marker-wh;
    height: $marker-wh;
    margin-top: 2px;
    border-radius: 50%;
    background-color: $hover;

    &__wrapper {
      position: relative;
    }

    &::after {
      position: absolute;
      top: $marker-wh;
      left: 50%;
      display: block;
      content: '';
      width: 2px;
      height: 100%;
      background-color: $hover;
      transform: translateX(-50%);
    }
  }
}
